.container {
  transform: translateX(-.5rem);
  padding: .5rem 0;

  label {
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background: rgba(29, 155, 240, 0.1);
    }


  }
}

.label {
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background: rgba(29, 155, 240, 0.1);
  }
}

.icon {
  width: 1.3rem;
  fill: rgb(29, 155, 240);
}

.input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  z-index: -1;
  opacity: 0;
  position: absolute;
  overflow: hidden;
}