@use '../../abstracts/colors' as colors;

.img {
  width: 100%;
  height: auto;
  max-width: 500px;
  border-radius: 1rem;
}

.button {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 100%;
  background: invert(colors.$dark, 25%);
  border: 1px solid invert(colors.$light, 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(calc(2.2rem + 1rem));
  margin-left: 1rem;  

  img {
    pointer-events: none;
    width: 1.2rem;
  }
}