@use '../../abstracts/colors' as colors;
@use '../../abstracts/borders' as borders;

.section {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  border-bottom: borders.$layout;
  padding: .5rem 1rem 1rem 1rem;
}

.avatar {
  width: 48px;
  height: 48px;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 100%;
  overflow: hidden;

  > img {
    width: 100%;
    height: auto;
    min-height: 100%;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
  }
}

.form {
  width: calc(100% - 3rem - 1rem);
}

.imgs {
  display: grid;
  grid-auto-flow: column;
  gap: .5rem;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .5rem;
  border-top: borders.$layout;
}

.submit {
  padding-block: .5rem;
  padding-inline: 1rem;
  color: colors.$light;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 3rem;
  background: lighten(colors.$primary, 20%);
  &[data-active="true"] {
      cursor: pointer;
      background: colors.$primary;
      &:hover {
        background: rgb(19, 145, 230);
        background: darken(colors.$primary, 10%);
      }
  }
}