.section {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  border-bottom: 1px solid rgb(240, 240, 240);
  padding: .5rem 1rem 1rem 1rem;
}

.profile {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}

.form {
  width: calc(100% - 3rem - 1rem);
}

.imgs {
  display: grid;
  grid-auto-flow: column;
  gap: .5rem;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .5rem;
  border-top: 1px solid rgba(240, 240, 240);
}

.submit {
  padding: .7rem 1.2rem;
  color: white;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  background: rgba(29, 155, 240, 0.6);
  &[active] {
      background: rgb(29, 155, 240);
  }
  &:hover {
      background: rgb(19, 145, 230);
  }
}