@use '../../abstracts/colors' as colors;
@use '../../abstracts/components';

.img {
  width: 100%;
  height: auto;
  max-width: 500px;
  border-radius: 1rem;
}

.button {
  @extend %btn-icon;
  padding: 0.5rem;
  background: invert(colors.$dark, 25%);
  border: 1px solid invert(colors.$light, 25%);
  transform: translateY(calc(2.2rem + 1rem));
  margin-left: 1rem;
}
