.container {
    z-index: 20;
    position: sticky;
    top: 0;
    background: white;
    padding: 0.3rem 0;
    border: unset;
}

.form {
    display: flex;
    gap: 1rem;
    border-radius: 10rem;
    color: rgba(0, 0, 0, 1);
    background: rgba(0, 100, 100, 0.05);
    padding: .5rem 1rem;
}

.icon {
    fill: rgba(0, 0, 0, 0.7);
    width: 1.2rem;
}

.input {
    border: none;
    background: none;
    padding: .5rem 0;
    font-size: 1rem;
    outline: none;
    width: 100%;
}
