.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  border-radius: 4rem;
  gap: 1.2rem;
  margin: 0 3rem .3rem 0;
  margin-block: 0 .3rem;
  margin-inline: 0 3rem;
  font-size: 1.275rem;
  white-space: nowrap;
  color: black;
  font-weight: 400;

  @media (max-width: 1021px) {
    padding: .8rem;
    margin-inline: 0;
    width: min-content;
  }

  &[active] {
    font-weight: 700;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &:first-child {
    width: min-content;
    padding: .8rem;

    &:hover {
        background-color: rgba(29, 155, 240, 0.1);
    }

  }

  > *:not(svg){
    margin: 0.8rem 0;

    @media (max-width: 1021px) {
      display: none;
    }
  }
}