@use "./colors" as colors;

%btn {
  height: fit-content;
  padding: .5rem 1rem;
  border-radius: 3rem;
  font-weight: 700;
  cursor: pointer;

  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: ease-out;
}

%btn-light {
  @extend %btn;
  background-color: colors.$light;
  color: invert(colors.$dark, 30%);
  border: 1px solid invert(colors.$dark, 80%);
  
  &:hover {
      background: invert(colors.$light, 10%);
  }
}

%btn-dark {
  @extend %btn;
  background-color: colors.$dark;
  color: colors.$light;
  border: 1px solid invert(colors.$light, 80%);
  
  &:hover {
      background: invert(colors.$light, 80%);
  }
}