@use '../abstracts/colors' as colors;

.container {
  position: sticky;
  inset: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  background-color: transparentize(colors.$light, .15);
  backdrop-filter: blur(6px);
  width: 100%;
  padding: 0 1rem;
  z-index: 100;
}

.left {
  margin-inline: 0 auto;
  display: flex;
}

.title {
  display: flex;
  flex-direction: column;

  a {
    font-weight: 700;
    color: colors.$dark;
    font-size: 1.1rem;
  }

  span {
    font-size: .8rem;
    color: invert(colors.$dark, 30%);
  }
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 0 1.5rem;
  margin-block: auto;
  border-radius: 100%;
  width: 35px;
  aspect-ratio: 1 / 1;
  &:hover {
    background: invert(colors.$light, 10%);
  }
}