.section {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  border-bottom: 1px solid rgb(230, 230, 230);
  padding: .5rem 1rem 1rem 1rem;
}

.profile {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}

.form {
  width: calc(100% - 3rem - 1rem);

  textarea {
    display: flex;
    justify-content: center;
    border: none;
    outline: none;
    padding: 0.225rem 0;
    font-size: 1.2rem;
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 1rem;
    resize: none;
    overflow: hidden;
    min-height: 2rem;
  }

}

.imgs {
  display: grid;
  grid-auto-flow: column;
  gap: .5rem;

  > div {
    > img {
        width: 100%;
        max-width: 500px;
        border-radius: 1rem;

        &:only-child {
          width: 100%;
          max-width: 500px;
          border-radius: 1rem;
        }
      }
    > button {
      width: 2.2rem;
      height: 2.2rem;
      border-radius: 100%;
      background: rgba(0, 0, 0, 0.7);
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(calc(2.2rem + 1rem));
      margin-left: 1rem;

      svg {
          width: 1.2rem;
          fill: white;
          pointer-events: none;
      }
    }
  }

  > button {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.7);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(calc(2.2rem + 1rem));
    margin-left: 1rem;

    svg {
      width: 1.2rem;
      fill: white;
    }
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .5rem;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.post_photo {
  transform: translateX(-.5rem);
  padding: .5rem 0;

  label {
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background: rgba(29, 155, 240, 0.1);
    }

    svg {
      width: 1.3rem;
      fill: rgb(29, 155, 240);
    }

    input[type="file"] {
      width: 0.1px;
      height: 0.1px;
      z-index: -1;
      opacity: 0;
      position: absolute;
      overflow: hidden;
    }
  }
}

.submit {
  padding: .7rem 1.2rem;
  color: white;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  background: rgba(29, 155, 240, 0.6);
  &[active] {
      background: rgb(29, 155, 240);
  }
  &:hover {
      background: rgb(19, 145, 230);
  }
}