@use '../abstracts/borders' as borders;

.deck {
  grid-column: 2;
  border-left: borders.$layout;
  border-right: borders.$layout;
  width: clamp(400px, 100vw, 600px);
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1024px) {
    width: clamp(320px, 100vw, calc(100% - 1rem));
  }
}