@use 'abstracts/colors' as colors;

.form {
  width: 100%;
  display: grid;
}

.heading {
  margin-inline: auto;
}

.label {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 1fr 2fr;
  width: 100%;
  outline: solid transparentize(colors.$dark, .8) 1px;

  border-radius: .375rem;
  padding-top: .25rem;
  padding-inline: .5rem;
  margin-top: .75rem;
  height: 4rem;

  span {
    user-select: none;
    pointer-events: none;
    margin-block: auto;
    font-size: 1.1rem;
    transform: translateY(1rem);
    transition-property: transform, font-size;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
  }

  &[data-error=false]{
    span {
      color: colors.$primary;
      font-weight: 500;
      font-size: .8rem;
      transform: translateY(0);
    }
  }

  &[data-error=true]{
    outline: solid colors.$error 2px;
    span {
      color: colors.$error!important;
      font-weight: 500;
      font-size: .8rem;
      transform: translateY(0);
    }
  }

  &:focus-within {
    span {
      color: colors.$primary;
      font-weight: 500;
      font-size: .8rem;
      transform: translateY(0);
    }

    &[data-error=true]{
      outline: solid colors.$error 2px;
    }
    &[data-error=false]{
      outline: solid colors.$primary 2px;
    }
  }
}

.input {
  width: 100%;
  border: none;
  line-height: 1.1rem;
  padding-block: 0 0.25rem;
  font-size: 1rem;
  outline: none;
}

.error {
  color: colors.$error;
  font-size: .8rem;
  padding-block: .2rem 0;
  padding-inline: .5rem;
  &:empty:before {
    content: "\200b";
  }
}

.button {
  margin-block: 1rem;
  margin-inline: auto;
  padding-block: 1rem;
  padding-inline: 3rem;
  width: fit-content;
  border: solid colors.$light 1px;
  color: colors.$light;
  font-size: 1rem;
  font-weight: 600;
  background: colors.$primary;
  border-radius: 2rem;
  padding-block: 1rem;

  &:hover {
      background-color: lighten(colors.$primary, 5%)
  }
}

.option {
  text-align: center;

  a {
    font-weight: 500;
    color: colors.$primary;

    &:hover {
      text-decoration: underline;
    }
  }
}