.form {
  width: 100%;
  display: grid;
}

.heading {
  margin-inline: auto;
}

.label {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 1fr 2fr;
  width: 100%;
  border: solid rgba(0, 0, 0, 0.2) 1px;
  border-radius: .375rem;
  padding-top: .25rem;
  padding-inline: .5rem;
  margin-top: .75rem;
  height: 4rem;

  span {
    color: rgba(0, 0, 0, 0.7);
    user-select: none;
    pointer-events: none;
    margin-block: auto;
  }

  &:focus-within span {
      color: rgba(29, 155, 240);
      font-weight: 500;
      font-size: .8rem;
      transform: translateY(0);
  }
}

.spanNoInput{
  font-size: 1.1rem;
  transform: translateY(1rem);
  transition-property: transform, font-size;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.spanAfterInput {
  font-weight: 500;
  font-size: .8rem;
  transform: translateY(0);
}

.spanAfterInputError {
  color: red !important;
  font-weight: 500;
  font-size: .8rem;
  transform: translateY(0);
}

.input {
  width: 100%;
  border: none;
  line-height: 1.1rem;
  padding-block: 0 0.25rem;
  font-size: 1rem;
  outline: none;
}

.error {
  color: red;
  margin-top: .2rem;
  font-size: .8rem;
  // min-height: calc(.2rem + .8rem);
  padding-inline: .5rem;
}

.button {
  margin-block: 1rem;
  margin-inline: auto;
  padding-block: 1rem;
  padding-inline: 3rem;
  width: fit-content;
  border: solid white 1px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  background: rgb(29, 155, 240);
  border-radius: 2rem;
  padding-block: 1rem;

  &:hover {
      background-color: rgb(19, 145, 230)
  }
}

.option {
  text-align: center;

  a {
    font-weight: 500;
    color: rgb(29, 155, 240);
  }
}